# Variables de entorno para FinData Chile
# Copia este archivo como .env.local y configura tus valores

# Credenciales del Admin (no subir reales a git)
ADMIN_USERNAME=tu_usuario_admin
ADMIN_PASSWORD=cambia-este-password
ADMIN_JWT_SECRET=REEMPLAZA_CON_CADENA_ALEATORIA_LARGA

# Base de datos (Postgres)
PGHOST=tu_host_pg
PGPORT=5432
PGDATABASE=tu_db
PGUSER=tu_usuario
PGPASSWORD=tu_password
PGPOOLMODE=transaction

# Email (opcional)
SMTP_USER=tu-email
SMTP_PASS=tu-password-app

# Transbank (NO subir credenciales reales)
TRANSBANK_COMMERCE_CODE=
TRANSBANK_API_KEY=
TRANSBANK_ENVIRONMENT=integration
# NEXT_PUBLIC_BASE_URL es opcional; se calculará dinámicamente en producción
#NEXT_PUBLIC_BASE_URL=https://fin-data-chile.vercel.app

# Seguridad
USER_JWT_SECRET=REEMPLAZA_CON_CADENA_ALEATORIA_LARGA
ADMIN_JWT_SECRET=REEMPLAZA_CON_CADENA_ALEATORIA_LARGA
JWT_SECRET=REEMPLAZA_CON_CADENA_ALEATORIA_LARGA
NEXTAUTH_SECRET=REEMPLAZA_CON_CADENA_ALEATORIA_LARGA
NEXTAUTH_URL=http://localhost:3000

# Storage local (desarrollo)
STORAGE_ROOT=./storage

# Vercel Blob (lectura/escritura privada)
BLOB_READ_WRITE_TOKEN=